.defaultFooter {
  --text-fz: 0.8rem;
  --button-fz: var(--text-fz);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--mantine-spacing-xs);
  font-size: var(--text-fz);
}
