.features {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  @media (max-width: 90rem) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 48rem) {
    grid-template-columns: 1fr;
  }
}
