.spotlight {
  overflow: auto;
  min-height: 45rem;
  background-size: 100% 100%;
  background-position:
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px;
  background-image: radial-gradient(60% 38% at 50% 55%, #ffffff59 0%, #073aff00 100%),
    radial-gradient(49% 81% at 45% 47%, #ffe20345 0%, #073aff00 100%), radial-gradient(113% 91% at -17% 5%, #ff5722 1%, #ff000000 99%),
    radial-gradient(142% 91% at 83% 7%, #ffdb00ff 1%, #ff000000 99%), radial-gradient(142% 91% at 111% 84%, #ffd7cc 0%, #cc441b 100%);
  color: var(--mantine-color-white);
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  gap: 4rem;
  text-shadow: 0 2px 5px #0003;
}

.spotlight > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spotlight :global(#spotlight-show) svg {
  height: 50%;
  width: 100%;
}

.spotlight h1 {
  font-size: 2.4rem;
}

.spotlight h1 + p {
  font-size: 1.4rem;
}

.spotlight a[type="button"] svg {
  margin-inline-start: 0.4rem;
}

@media (max-width: 90rem) {
  .spotlight {
    grid-template-columns: minmax(0, 1fr);
    min-height: 35rem;
  }

  .spotlight :global(#spotlight-show) {
    display: none;
  }
}

@media (max-width: 64rem) {
  .spotlight {
    min-height: 27.5rem;
  }
}
