#page-view header,
main > section,
#page-view footer {
  --horizontal-padding: 20%;

  @media (max-width: 90rem) {
    --horizontal-padding: 15%;
  }

  @media (max-width: 74rem) {
    --horizontal-padding: 10%;
  }

  @media (max-width: 30rem) {
    --horizontal-padding: 1rem;
  }

  padding-inline: var(--horizontal-padding);
}

body[class] section {
  padding-block: 1rem;
}

#page-view > div > header,
#page-view > div > footer {
  background-color: #ffffffdd;
  backdrop-filter: blur(2px) grayscale(1);
}
